@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root{
    --basr-color: #ffffff;
    --text-color:#000000;
    --primary-color:#ffco6e;
    --secoundary-color:#8D8DFF;
    --color1:#F9f6F3;
    --color1:#F3f7F9;
    --color1:#F6F3F9;

}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}

html{
    font-family: poppins, 'sogoe UI', Tahoma,Gevena, sans-serif;
    color:var(--text-color);

}

body{
    padding:1em;
    background-color: var(--base-color);
}

h1,h2,h3 {
    font-family: Merriweather, poppins, 'segoe UI', Tahoma,Gevena, sans-serif;
}

nav{
    margin:1em auto 3em auto;
    width: min(1000px,100%);
    
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap:2em;

}

nav li:first-child{
    margin-right:auto;
    font-family:merriwrather, poppins,;
    font-weight:bold;

}
nav a{
    text-decoration:none;
    color: var(--text-color);

}

nav a:hover{
    text-decoration: underline;
}


header,section{
    margin:2em auto;
    width:min(75em, 100%);
    background-color: var(--color-1);
    padding:min(2em, 15%);
    border-radius:lem,1em;

}

.flex-cantainer{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;

}

header img{
    max-width:100%;
    border-radius: 1em;
    object-fit: cover;
    object-position: bottom;

}

.text-container{
    flex: 0 1 34em;
}

h1{
    font-size: 2.5rem;


}

.text-container p{
    margin: .75em 0 1em 0;
    font-size: 1.25rem;
}



.cta-button{
    display: inline-block;
    padding: 10px 20px;
    background: rgb(223, 231, 83);
    color: white;
    text-decoration: none;
    border-radius: .5em;
    font-weight: 600;
}

.secondary{
    background-color: var(--secoundary-color);


}
section{
    padding:3em min(2em, 15%);
}

section p{
    margin-top: 1em;
    font-size: 1.25rem;
    width: 300px;
    margin-top: 25px;
    border-radius: 12px;
}


.help{
    display:flex;
    justify-content:center;
    padding:80px 20px;
}
h2{

    max-width:700px;
    background:white;

    padding:50px;
    text-align:center;

    border-radius:16px;

    box-shadow:0 8px 25px rgba(0,0,0,0.08);
}

h2{
    font-size:2rem;
    margin-bottom:15px;
}

p{
 color:#555;
line-height:1.6;
margin-bottom:25px;
}

section p{
    width:280px;
}